<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<%- include("comum/cabecalho") %>
</head>
<body>

	<h1>Casca diferente da página!</h1>

	<h2>Faz de conta 😅</h2>

	<%- body %>

	<%- include("comum/rodape") %>

</body>
</html>
